<div class="maincontainer" id="petWallPage">
    <!--     Start of Nav Bar          -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navigation">
            <div class="navigation_pages">
                <button type="button" class="btn btn-default" id="home" onclick='location.href="/";'>

                        <span class="glyphicon glyphicon-home
                        "aria-hidden="true"></span>
                        </button>
                <div class="sitename">Little Muppet</div>
            </div>
        </div>
    </nav>
    <!--End of Nav Bar-->
    <div class="petwallContainer">
        <div class="masonry">
            {{#each pets}}
            <div class="thumbnail">
                <div class="item">
                    <img src="{{media.photos.photo.2.$t}}" />


                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>
