body {
    font-size: 16px;
}


.maincontainer {
    background: white;
    width: 100%;
}

.navbar {
    background: #fff;
/*	padding: 2rem 5rem;*/
	font-family: sans-serif;
    position: fixed;
    width: 100%;
    height: 8%;
    text-align: center;
    opacity: .9;

}

.sitename {
    font-size: 4rem;
    color: black;
}

.navigation {
/*    display: inline-block; */
    color: black;
}

navigation_pages {
    width: 100%;
    color: black;
    
}

#home {
    position: fixed;
    left: 2%;
    top: 1.5%;
}

img {
    width: 100%;
    height: 100%;
}


.form-group {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.formTitle {
    text-align: center;
}

.form-group {
    margin-top: 3%;
}

.submit {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}
