body {
    font-size: 16px;
}


/* start of nav bar css*/

.navbar {
    background: #fff;
    /*	padding: 2rem 5rem;*/
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    height: 8%;
    text-align: center;
    opacity: 1;
}

.navigation {
    color: black;
}

navigation_pages {
    width: 100%;
    color: black;
}

#home {
    position: fixed;
    left: 2%;
    top: 1.5%;
    font-size: 1.2em;
}

.sitename {
    font-size: 2.5em;
    color: black;
    letter-spacing: 3.4px;
    font-weight: bold;
}


/*end of nav bar css*/


/* start of main index css */

.maincontainer {
    background: white;
    width: 100%;
    position: relative;
}

.colorOverlay {
    background: black;
}

img {
    width: 100%;
    height: 100%;
    opacity: .85;
}

.imageContent {
    position: relative;
}

.tagDiv {
    width: 20%;
}

.tagline {
    position: absolute;
    font-size: 2.4em;
    font-weight: bold;
    color: white;
    top: 10%;
    left: 5%;
}

.tagDescription {
    position: absolute;
    font-size: 1.5em;
    color: white;
    top: 15%;
    left: 5%;
    line-height: 1.4em;
}


/*media queries to make text responsive on mobile*/

@media only screen and (max-width: 400px) {
    .tagline {
        font-size: 120%;
    }
}

@media only screen and (max-width: 400px) {
    .tagDescription {
        font-size: 90%;
    }
}

.site-footer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}


/*end of main index css*/


/*start of form css*/

.form-group {
    width: 36%;
    height: 100%;
    margin: 0 auto;
    margin-top: 3%;
}

.formTitle {
    text-align: center;
}

.submit {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 8%;
}


/*end of form css*/

#petwall-container {
    margin: 8% 5% 5% 5%;
}
