body {
    background: url(images/Animal2017173.jpg) center center fixed;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
    opacity: .3;
}


.navbar-brand {
    font-size: 200%;
}


h1 {
    text-align: center;
    margin: 75px;
}

h3 {
    text-align: center;
}


